@charset "utf-8";

h1 {
    margin:0;
}

body {
    margin: 0;
    font-family: Arial, "微软雅黑";
    color: #666;
    position: relative;
}

.page {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #fff;
    font-size: 26px;
    z-index: 1;
    display: none;
}

.pageShow {
    display: block;
}

.page:nth-of-type(1) {
    z-index: 10;
}

.page:nth-of-type(2) {
    z-index: 9;
}

.page:nth-of-type(3) {
    z-index: 8;
}

.page:nth-of-type(4) {
    z-index: 7;
}

.page:nth-of-type(5) {
    z-index: 6;
}

#welcome {
    transition: .5s;
}

/* 欢迎页 */
@-webkit-keyframes tree {
    100%
    {
        -webkit-transform: translateY(0px);
        opacity:1;
    }
}

@keyframes tree {
    100%
    {
        -webkit-transform: translateY(0px);
        opacity:1;
    }
}

@keyframes logo {
    100%
    {
        opacity: 1;
    }
}

@keyframes shake {
    0%
    {
        transform: rotate(0deg);
    }
    20%
    {
        transform: rotate(30deg);
    }
    40%
    {
        transform: rotate(-20deg);
    }
    60%
    {
        transform: rotate(15deg);
    }
    80%
    {
        transform: rotate(-8deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}

@keyframes cloud {
    0%
    {
      transform: translateX(0px);
    }
    100%
    {
        transform: translateX(-50px);
    }
}

.tree {
    position: absolute;
    left:0;
    top:10%;
    width:100%;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
    -webkit-animation: 1s tree;
    animation: 1s tree;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#logo {
    position: absolute;
    left:0;
    width:100%;
    bottom:5%;
    text-align: center;
    opacity: 0;
    animation: logo .5s 1s;
    animation-fill-mode: forwards;
}

.welcome2 {
    position: relative;
    padding-top: 50px;
    opacity: 0;
    transform: translateY(50px);
    animation: 1s .3s tree;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.shake {
    position: absolute;
    left:509px;
    top: 12px;
    width: 28px;
    height: 31px;
    background: url("../img/shake.png") no-repeat;
    transform-origin: left bottom;
    animation: shake 0.5s 2s;
}

.tree3 {
    padding-top: 20px;
    transform: translateY(30px);
    animation: 1s .6s tree;
    animation-fill-mode: forwards;
}

.cloud {
    position: absolute;
    background:url(../img/cloud.png) no-repeat;
    background-size: contain;
}

.cloud:nth-of-type(1) {
    left: 432px;
    top: 15px;
    width: 58px;
    height: 44px;
    animation: cloud 3s 2s infinite alternate linear;
}

.cloud:nth-of-type(2) {
    left: 79px;
    top: 77px;
    width: 91px;
    height: 70px;
    animation: cloud 3s 2.5s infinite alternate linear;
}

.cloud:nth-of-type(3) {
    left: 402px;
    top: 142px;
    width: 54px;
    height: 41px;
    animation: cloud 3s 2.8s infinite alternate linear;
}